.users-wrapper {
  color: rgb(15, 14, 17);
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 100vh;
  width: 100%;
  background: url('../assets/images/suidou.jpg') top left / cover no-repeat;
  .users-inner{
    padding: 30px 0;
    text-align: center;
  }
  .users-title{
    font-size: 24px;
    text-align: center;
    padding: 5px;
  }
}

.log-item{
  display: flex;
  justify-content: center;
}
.btn-default {
  display: block;
  width: 200px;
  padding: 20px 0;
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}
.btn-default + .btn-default{
  margin-left: 50px;
}
.greeting{
  p {
    text-align: center;
    margin: 200px 0;
    animation: fadeIn 1.2s ease-in-out;  
  }
}

@keyframes fadeIn {
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

// .box{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   height: 100vh;
// }

a {
  text-decoration: none;
  color: black;
}

.go-calender a{
  color: rgb(8, 7, 24);
}


table ,table-striped {
  width: 20%;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

// a {
//   color: #000;

//   &:visited {
//     color: #666;
//   }

//   &:hover {
//     color: #fff;
//     background-color: #000;
//   }
// }

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: rgb(164, 240, 101);
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid rgb(188, 245, 161);
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: rgb(130, 241, 120);
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

@media screen and (min-width:480px) { 
    /*　画面サイズが480pxからはここを読み込む　*/
 
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
 
}

.events-wrapper {
  background: url('../assets/images/wood.jpg') top left / cover no-repeat;
  justify-content: center;
  height: 100vh;
  text-align: center;
  .events-inner {
    width: 180%;
    a.btn-gradient {
      border-radius: 100vh;
      padding: 3px;
      background-color: yellow;
      background-image: -webkit-linear-gradient(left, #f3e8ee 40%, #c2e73c 100%);
      background-image: linear-gradient(90deg, #c8f1b0 40%, #1feb8c 100%);
      text-align: center;
      
    }
  }
}
.calender-list {
  .simple-calendar {
    background-color: white;
    display: block;
  }
  width: 80%;
  text-align: center;
}
.edit {
  color: rgb(247, 241, 241);
  width: 50%;
}
.events-footer a{
  padding: 0 20px;
  margin: 0 40px;
  background-color: yellowgreen;
  border-radius: 100vh;
}

.go-calender {
  .btn {
    border-radius: 100vh;
    padding: 1px;
    margin: 2px;
  }
}
@keyframes fadeInUpAnime {
  70%{
    transform: translateY(0px);
    opacity: 2;
  }
  0%{
    transform: translateY(50);
    opacity: 0;
  }
}

.new-events-wrapper {
  height: 100vh;
  background: url('../assets/images/nail.jpg') top left / cover no-repeat;
  text-align: center; 
  .new-events-inner{
    line-height: 60px;
    opacity: 0.5;
    animation: fadeInUpAnime 1.8s ease-in-out; 
    .submit .btn-gradient{
      border-radius: 100vh;
      padding: 5px;
      background-color: yellow;
      background-image: -webkit-linear-gradient(left, #f3e8ee 40%, #c2e73c 100%);
      background-image: linear-gradient(90deg, #c8f1b0 40%, #1feb8c 100%);
      text-align: center;
    } 
  }
  .input {
    width: 10%;
  }
  .new-content input{
    width: 40%;
  }
  
    
}

select::-ms-expand {
	display: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 20px;
	padding: 5px 15px 5px 8px;
	font-size: 93%;
	line-height: 1.1em;
	border-radius: 5px;
	border: none;
	background-image: url(./images/icon_arrow.svg);
	background-repeat: no-repeat;
	background-size: 12px 10px;
	background-position: right 10px center;
	background-color: #d6e8f8;

}
.event-show {
  color: white;
  height: 100vh;
  padding: 50px;
  text-align: center;
  background: url('../assets/images/tumiki.jpg') top left / cover no-repeat;
  .img-upload p{
    color: white;
    text-align: center;
    width: 30%;
  }

  .event-show .event-edit {
    color: white;
  }
  a {
    color: white;
  }
  .other-user .btn-gradient{
    color: white;
    margin: 50px;
  }
}

.field_with_errors {
  width: 70%;
  position: relative;
  
  display: inline-block;
  color: #e46f5d;
  font-weight: 400;
}
.error-alert ul{
  list-style: none;
}
.field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #f59688;
  font-size: 14px;
}
#error_explanation {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

